body {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
}

main .odd, main .even {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 70vh;
    min-height: 50vh;
    /* width: 100vw; */
    min-width: 35vw;
    margin: 0 20px;
    height: 100%;
}

.green {
    background-color: rgba(0, 255, 0, 0.2);
}

.yellow {
    background-color: rgba(255, 217, 0, 0.3);
}

.odd-table, .even-table {
    border: 1px solid;
    /* padding: 5px; */
    width: 60vw;
}

tr.space {
    border: none;
    height: 20px;
}

.even-table tr:not([class="space"]) td, .odd-table tr:not([class="space"]) td {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.41);
    text-align: center;
    font-size: 13pt;
}

.even-table tr td:nth-child(3):not(:nth-child(4)), .odd-table tr td:nth-child(3):not(:nth-child(4)) {
    max-width: 20vw;
    padding: 5px;
}

.even-table th:nth-child(3), .odd-table th:nth-child(3) {
    min-width: 10vw;
}

.odd-table td:nth-child(4), .even-table td:nth-child(4) {
    width: 100%;
}

@media screen and (max-width: 399.98px){
    .even-table tr:not([class="space"]) td, .odd-table tr:not([class="space"]) td {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.41);
        text-align: center;
        font-size: 14pt;
    }

    .even-table, .odd-table {
        border: 1px solid;
        width: 90vw;

        font-size: 7pt;
    }

    .even-table th:nth-child(4), .odd-table th:nth-child(4) {
        min-width: 13vw;
    }
}

@media screen and (min-width: 400px) and (max-width: 575.98px) {
    .even-table tr:not([class="space"]) td, .odd-table tr:not([class="space"]) td {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.41);
        text-align: center;
        font-size: 15pt;
    }

    .even-table, .odd-table {
        border: 1px solid;
        width: 90vw;

        font-size: 10pt;
    }

    .even-table th:nth-child(4), .odd-table th:nth-child(4) {
        min-width: 9vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px){

    .even-table tr:not([class="space"]) td, .odd-table tr:not([class="space"]) td {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.41);
        text-align: center;
        font-size: 14pt;
    }

    .even-table, .odd-table {
        border: 1px solid;
        width: 90vw;

        font-size: 10pt;
    }

    .even-table th:nth-child(4), .odd-table th:nth-child(3) {
        min-width: 18vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .even-table, .odd-table {
        border: 1px solid;
        width: 90vw;
        font-size: 11pt;
    }

    .even-table tr:not([class="space"]) td, .odd-table tr:not([class="space"]) td {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.41);
        text-align: center;
        font-size: 12pt;
    }

    .even-table th:nth-child(3), .odd-table th:nth-child(3) {
        min-width: 13vw;
    }
}